server:
  port: ${PORT:6181}
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: "basketstat"

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_URL:root@localhost:3306/basketstat}?useSSL=false
    username: ${USER:root}
    password: ${PASSWORD:1946}

  thymeleaf:
    cache: false

  data:
    mongodb:
      port: ${MONGO.PORT:27017}
      auto-index-creation: true
      database: ${MONGO.DB_NAME:test}
menu:
  menus:
    - name: "Results"
      view: "index.html"
    - name: "Compare"
      view: "compare.html"
    - name: "Create Match"
      view: "creatematch.html"
    - name: "Commands"
      view: "command.html"
    - name: "Tournaments"
      view: "tournament.html"
    - name: "Export"
      view: "/api/export"

matches-max-number: ${max-matches:4}