server:
  port: ${PORT:6181}
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: "basketstat"

  thymeleaf:
    cache: false

  data:
    mongodb:
      port: ${MONGO.PORT:27017}
      auto-index-creation: true
      database: ${MONGO.DB_NAME:test}
menu:
  menus:
    - name: "Home"
      view: "index.html"
    - name: "Compare"
      view: "compare.html"
    - name: "Top"
      view: "topx.html"
    - name: "Create Match"
      view: "creatematch.html"
    - name: "Commands"
      view: "command.html"
    - name: "Tournaments"
      view: "tournament.html"