<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Basket Stat</title>
        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script type="text/javascript" th:src="@{/js/query-3.3.1.js}"></script>
    </head>

    <body>
        <span th:replace="fragments/nav.html :: nav"></span>

        <main role="main" class="container">
            <div class="errorMsg" th:if="error != null" th:text="${error}"></div>
            <div class="successMsg" th:if="msg != null" th:text="${msg}"></div>
            <div class="starter-template">
                <form id="compareForm" action="#" th:action="@{/compare.html}" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3 my-1">
                                <select class="form-control" id="tournamentId" name="tournamentId" th:if="${tournaments.size() > 0}">
                                    <option class="def_option" value="">Choose Tournament</option>
                                    <option th:each="tourn : ${tournaments}" th:value="${tourn.getId()}"
                                            th:text="${tourn.getTournName()}" th:selected="${tourn.getId() == tournamentId} OR ${tournament != null} AND ${tourn.getId() == tournament.getId()}"></option>
                                </select>
                            </div>
                            <div class="col col-sm-3 my-1" th:if="${tournament != null} AND ${tournament.getId() != null}">
                                <select class="form-control" name="commandId1" id="commandId1" th:if="${commands.size() > 0}">
                                    <option class="def_option" value="">Choose Command 1</option>
                                    <option th:each="command : ${commands}" th:value="${command.getId()}"
                                            th:text="${command.getCommandName()}" th:selected="${command1 != null} AND ${command.getId() == command1.getId()}"></option>
                                </select><br/>
                                <select class="form-control" name="commandId2" id="commandId2" th:if="${commands.size() > 0}">
                                    <option class="def_option" value="">Choose Command 2</option>
                                    <option th:each="command : ${commands}" th:value="${command.getId()}"
                                            th:text="${command.getCommandName()}" th:selected="${command2 != null} AND ${command.getId() == command2.getId()}"></option>
                                </select>
                            </div>
                            <div class="col col-sm-3 my-1" th:if="${tournament != null} AND ${tournament.getId() != null}">
                                <input class="btn btn-success" type="submit" value="Compare" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
            $('document').ready(function() {
                $('#tournamentId').change(function() {
                    $('#compareForm').submit();
                });
            });
        </script>
    </body>
</html>