<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Basket Stat</title>
        <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script type="text/javascript" th:src="@{/js/query-3.3.1.js}"></script>
    </head>
    <body>
        <span th:replace="fragments/nav.html :: nav"></span>
        <main role="main" class="container">
            <div class="errorMsg" th:if="error != null" th:text="${error}"></div>
            <div class="successMsg" th:if="msg != null" th:text="${msg}"></div>
            <div class="starter-template">
                <form id="compareForm" action="#" th:action="@{/compare.html}" method="post" th:object="${filter}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col col-sm-3 my-1">
                                <select class="form-control" th:field="*{tournament.id}" th:if="${tournaments.size() > 0}">
                                    <option class="def_option" th:if="${tournaments.size() > 1}" value="">Choose Tournament</option>
                                    <option th:each="tourn : ${tournaments}" th:value="${tourn.getId()}"
                                            th:text="${tourn.getTournName()}" th:selected="${tourn.getId() == tournamentId} OR ${tournament != null} AND ${tourn.getId() == tournament.getId()}"></option>
                                </select>
                            </div>
                            <div class="col col-sm-3 my-1" th:if="${filter.hasTournament()}">
                                <select required="required" class="form-control" th:if="${commands.size() > 0}" th:field="*{command1.id}">
                                    <option class="def_option" value="">Choose Command 1</option>
                                    <option th:each="command : ${commands}" th:value="${command.getId()}"
                                            th:text="${command.getCommandName()}"></option>
                                </select><br/>
                                <select required="required" class="form-control" th:if="${commands.size() > 0}" th:field="*{command2.id}">
                                    <option class="def_option" value="">Choose Command 2</option>
                                    <option th:each="command : ${commands}" th:value="${command.getId()}"
                                            th:text="${command.getCommandName()}"></option>
                                </select>
                            </div>
                            <div class="col col-sm-3 my-6" th:if="${filter.hasTournament()}">
                                <label for="records" class="col-sm-2 col-form-label">Number of matches</label>
                                <input class="form-control shortText" th:field="*{records}" type="number" min="1" max="100"  />
                            </div>
                            <div class="col col-sm-3 my-6" th:if="${filter.hasTournament()}">
                                <label for="season" class="col-sm-2 col-form-label">Season</label>
                                <input class="form-control shortText" required="required" th:field="*{season}" />
                            </div>
                            <div class="col col-sm-3 my-6" th:if="${filter.hasTournament()}">
                                <select class="form-control" th:field="*{matchPlace}">
                                    <option value="all">All</option>
                                    <option value="home">Home</option>
                                    <option value="away">Away</option>
                                </select>
                            </div>
                            <div class="col col-sm-3 my-1" th:if="${filter.hasTournament()}">
                                <input class="btn btn-success" type="submit" value="Compare" />
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <div th:if="${filter != null} AND ${filter.filterReady()} AND ${filter.hasSeason()}">
                        <h3 th:text="${'Season ' + filter.getSeason()}"></h3>
                    </div>
                    <div class="container">
                        <div class="row" th:if="${command1Aggr != null} AND ${command1Aggr.getGames() > 0} AND ${command2Aggr != null} AND ${command2Aggr.getGames() > 0}">
                            <div class="col right-border">
                                <div class="container">
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Potential Score:</div>
                                        <div class="col" th:text="${ (command1Aggr.getScoreIn() + command2Aggr.getScoreOut())/2 }"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container">
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Potential Score:</div>
                                        <div class="col" th:text="${ (command2Aggr.getScoreIn() + command1Aggr.getScoreOut())/2 }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col right-border">
                                <div class="container" th:if="${command1Aggr != null} AND ${command1Aggr.getGames() > 0}">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Statistics for <span class="bs-mark" th:text="${command1Aggr.getCommandName()}"></span> after <span th:text="${command1Aggr.getGames()}"></span> game/s</h5>
                                        </div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score</div>
                                        <div class="col" th:text="${command1Aggr.getScoreIn() + ' - ' + command1Aggr.getScoreOut()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Total</div>
                                        <div class="col" th:text="${(command1Aggr.getScoreIn() + command1Aggr.getScoreOut())/2}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Difference</div>
                                        <div class="col" th:text="${command1Aggr.getScoreIn() - command1Aggr.getScoreOut()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 1st</div>
                                        <div class="col" th:text="${command1Aggr.quarterScoreIn[__0__] + ' - ' + command1Aggr.quarterScoreOut[__0__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 2nd</div>
                                        <div class="col" th:text="${command1Aggr.quarterScoreIn[__1__] + ' - ' + command1Aggr.quarterScoreOut[__1__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 3rd</div>
                                        <div class="col" th:text="${command1Aggr.quarterScoreIn[__2__] + ' - ' + command1Aggr.quarterScoreOut[__2__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 4th</div>
                                        <div class="col" th:text="${command1Aggr.quarterScoreIn[__3__] + ' - ' + command1Aggr.quarterScoreOut[__3__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Overtimes in</div>
                                        <div class="col" th:text="${command1Aggr.getOvertimes() + ' game/s'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">1pt</div>
                                        <div class="col" th:text="${command1Aggr.getPoints1() + '/' + command1Aggr.getAttempts1() + ' (' + command1Aggr.point1ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2pt</div>
                                        <div class="col" th:text="${command1Aggr.getPoints2() + '/' + command1Aggr.getAttempts2() + ' (' + command1Aggr.point2ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">3pt</div>
                                        <div class="col" th:text="${command1Aggr.getPoints3() + '/' + command1Aggr.getAttempts3() + ' (' + command1Aggr.point3ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Rebounds D/O</div>
                                        <div class="col" th:text="${command1Aggr.getReboundsDefense() + '/' + command1Aggr.getReboundsOffense() + ' (' + command1Aggr.rebounds() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Assists</div>
                                        <div class="col" th:text="${command1Aggr.getAssists()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Def. Foulds</div>
                                        <div class="col" th:text="${command1Aggr.getFoulsDefense()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Players Scored &gt; 10</div>
                                        <div class="col" th:text="${command1Aggr.getMore10Points()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score Leader</div>
                                        <div class="col" th:text="${command1Aggr.getPlayerMaxPointsName()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Maximum Lead</div>
                                        <div class="col" th:text="${command1Aggr.getMaxLeadQuarter()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Steals</div>
                                        <div class="col" th:text="${command1Aggr.getSteals()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Turnovers</div>
                                        <div class="col" th:text="${command1Aggr.getTurnovers()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2nd Chance Points</div>
                                        <div class="col" th:text="${command1Aggr.getSecondChancePoints()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Start/Bench points</div>
                                        <div class="col" th:text="${command1Aggr.getScoreStart5Score() + '/' + command1Aggr.getScoreBenchScore()}"></div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                                <div class="container" th:each="match: ${command1Stats}">
                                    <div class="row">
                                        <div class="col">
                                            <h5>
                                                <a th:href="${'/editmatch?matchId=' + match.getId()}">
                                                    <span th:class="${match.isHomeCommand(filter.getCommand1().getId()) ? 'bs-mark' : ''}"  th:text="${match.getHomeCommand().getCommand().getCommandName()}"></span>
                                                    <span> vs. </span>
                                                    <span th:class="${match.isAwayCommand(filter.getCommand1().getId()) ? 'bs-mark' : ''}" th:text="${match.getAwayCommand().getCommand().getCommandName()}"></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col text-right underline datesmall col-sm-3" th:text="${#dates.format(match.getDate(), 'dd-MMM-yyyy')}"></div>
                                    </div>
                                    <div class="col">
                                        <div class="col text-right underline datesmall col-sm-3">
                                            <a th:href="${'/deletematch?matchId=' + match.getId()}">Delete</a>
                                        </div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score</div>
                                        <div class="col" th:text="${match.getHomeCommand().getScore()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getScore()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 1st</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__0__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__0__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 2nd</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__1__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__1__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 3rd</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__2__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__2__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 4th</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__3__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__3__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score OT</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__4__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__4__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">1pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints1() + '/' + match.getHomeCommand().getAttempts1() + ' (' + match.getHomeCommand().point1ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints1() + '/' + match.getAwayCommand().getAttempts1() + ' (' + match.getAwayCommand().point1ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints2() + '/' + match.getHomeCommand().getAttempts2() + ' (' + match.getHomeCommand().point2ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints2() + '/' + match.getAwayCommand().getAttempts2() + ' (' + match.getAwayCommand().point2ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">3pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints3() + '/' + match.getHomeCommand().getAttempts3() + ' (' + match.getHomeCommand().point3ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints3() + '/' + match.getAwayCommand().getAttempts3() + ' (' + match.getAwayCommand().point3ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Rebounds D/O</div>
                                        <div class="col" th:text="${match.getHomeCommand().getReboundsDefense() + '/' + match.getHomeCommand().getReboundsOffense() + ' (' + match.getHomeCommand().rebounds() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getReboundsDefense() + '/' + match.getAwayCommand().getReboundsOffense() + ' (' + match.getAwayCommand().rebounds() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Assists</div>
                                        <div class="col" th:text="${match.getHomeCommand().getAssists()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getAssists()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Def. Foulds</div>
                                        <div class="col" th:text="${match.getHomeCommand().getFoulsDefense()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getFoulsDefense()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Players Scored &gt; 10</div>
                                        <div class="col" th:text="${match.getHomeCommand().getMore10Points()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getMore10Points()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score Leader</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPlayerMaxPointsName() + '(' + match.getHomeCommand().getPlayerMaxPointsScore() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPlayerMaxPointsName() + '(' + match.getAwayCommand().getPlayerMaxPointsScore() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Maximum Lead</div>
                                        <div class="col" th:text="${match.getHomeCommand().getMaxLead() + '(' + match.getHomeCommand().getMaxLeadQuarter() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getMaxLead() + '(' + match.getAwayCommand().getMaxLeadQuarter() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Steals</div>
                                        <div class="col" th:text="${match.getHomeCommand().getSteals()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getSteals()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Turnovers</div>
                                        <div class="col" th:text="${match.getHomeCommand().getTurnovers()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getTurnovers()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2nd Chance Points</div>
                                        <div class="col" th:text="${match.getHomeCommand().getSecondChancePoints()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getSecondChancePoints()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Start/Bench points</div>
                                        <div class="col" th:text="${match.getHomeCommand().getScoreStart5Score() + '/' + match.getHomeCommand().getScoreBenchScore()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getScoreStart5Score() + '/' + match.getAwayCommand().getScoreBenchScore()}"></div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container" th:if="${command2Aggr != null} AND ${command2Aggr.getGames() > 0}">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Statistics for <span class="bs-mark" th:text="${command2Aggr.getCommandName()}"></span> after <span th:text="${command2Aggr.getGames()}"></span> game/s</h5>
                                        </div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score</div>
                                        <div class="col" th:text="${command2Aggr.getScoreIn() + ' - ' + command2Aggr.getScoreOut()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Total</div>
                                        <div class="col" th:text="${(command2Aggr.getScoreIn() + command2Aggr.getScoreOut())/2}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Difference</div>
                                        <div class="col" th:text="${(command2Aggr.getScoreIn() - command2Aggr.getScoreOut())}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 1st</div>
                                        <div class="col" th:text="${command2Aggr.quarterScoreIn[__0__] + ' - ' + command2Aggr.quarterScoreOut[__0__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 2nd</div>
                                        <div class="col" th:text="${command2Aggr.quarterScoreIn[__1__] + ' - ' + command2Aggr.quarterScoreOut[__1__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 3rd</div>
                                        <div class="col" th:text="${command2Aggr.quarterScoreIn[__2__] + ' - ' + command2Aggr.quarterScoreOut[__2__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 4th</div>
                                        <div class="col" th:text="${command2Aggr.quarterScoreIn[__3__] + ' - ' + command2Aggr.quarterScoreOut[__3__]}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Overtimes in</div>
                                        <div class="col" th:text="${command2Aggr.getOvertimes() + ' game/s'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">1pt</div>
                                        <div class="col" th:text="${command2Aggr.getPoints1() + '/' + command2Aggr.getAttempts1() + ' (' + command2Aggr.point1ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2pt</div>
                                        <div class="col" th:text="${command2Aggr.getPoints2() + '/' + command2Aggr.getAttempts2() + ' (' + command2Aggr.point2ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">3pt</div>
                                        <div class="col" th:text="${command2Aggr.getPoints3() + '/' + command2Aggr.getAttempts3() + ' (' + command2Aggr.point3ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Rebounds D/O</div>
                                        <div class="col" th:text="${command2Aggr.getReboundsDefense() + '/' + command2Aggr.getReboundsOffense() + ' (' + command2Aggr.rebounds() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Assists</div>
                                        <div class="col" th:text="${command2Aggr.getAssists()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Def. Foulds</div>
                                        <div class="col" th:text="${command2Aggr.getFoulsDefense()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Players Scored &gt; 10</div>
                                        <div class="col" th:text="${command2Aggr.getMore10Points()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score Leader</div>
                                        <div class="col" th:text="${command2Aggr.getPlayerMaxPointsName()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Maximum Lead</div>
                                        <div class="col" th:text="${command2Aggr.getMaxLeadQuarter()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Steals</div>
                                        <div class="col" th:text="${command2Aggr.getSteals()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Turnovers</div>
                                        <div class="col" th:text="${command2Aggr.getTurnovers()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2nd Chance Points</div>
                                        <div class="col" th:text="${command2Aggr.getSecondChancePoints()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Start/Bench points</div>
                                        <div class="col" th:text="${command2Aggr.getScoreStart5Score() + '/' + command2Aggr.getScoreBenchScore()}"></div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                                <div class="container" th:each="match: ${command2Stats}">
                                    <div class="row">
                                        <div class="col">
                                            <h5>
                                                <a th:href="${'/editmatch?matchId=' + match.getId()}">
                                                    <span th:class="${match.isHomeCommand(filter.getCommand2().getId()) ? 'bs-mark' : ''}"  th:text="${match.getHomeCommand().getCommand().getCommandName()}"></span>
                                                    <span> vs. </span>
                                                    <span th:class="${match.isAwayCommand(filter.getCommand2().getId()) ? 'bs-mark' : ''}" th:text="${match.getAwayCommand().getCommand().getCommandName()}"></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col text-right underline datesmall col-sm-3" th:text="${#dates.format(match.getDate(), 'dd-MMM-yyyy')}"></div>
                                    </div>
                                    <div class="col">
                                        <div class="col text-right underline datesmall col-sm-3">
                                            <a th:href="${'/deletematch?matchId=' + match.getId()}">Delete</a>
                                        </div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score</div>
                                        <div class="col" th:text="${match.getHomeCommand().getScore()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getScore()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 1st</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__0__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__0__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 2nd</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__1__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__1__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 3rd</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__2__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__2__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score 4th</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__3__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__3__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score OT</div>
                                        <div class="col" th:text="${match.getHomeCommand().quarterStats[__4__].score}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().quarterStats[__4__].score}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">1pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints1() + '/' + match.getHomeCommand().getAttempts1() + ' (' + match.getHomeCommand().point1ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints1() + '/' + match.getAwayCommand().getAttempts1() + ' (' + match.getAwayCommand().point1ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints2() + '/' + match.getHomeCommand().getAttempts2() + ' (' + match.getHomeCommand().point2ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints2() + '/' + match.getAwayCommand().getAttempts2() + ' (' + match.getAwayCommand().point2ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">3pt</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPoints3() + '/' + match.getHomeCommand().getAttempts3() + ' (' + match.getHomeCommand().point3ratio() + '%)'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPoints3() + '/' + match.getAwayCommand().getAttempts3() + ' (' + match.getAwayCommand().point3ratio() + '%)'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Rebounds D/O</div>
                                        <div class="col" th:text="${match.getHomeCommand().getReboundsDefense() + '/' + match.getHomeCommand().getReboundsOffense() + ' (' + match.getHomeCommand().rebounds() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getReboundsDefense() + '/' + match.getAwayCommand().getReboundsOffense() + ' (' + match.getAwayCommand().rebounds() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Assists</div>
                                        <div class="col" th:text="${match.getHomeCommand().getAssists()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getAssists()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Def. Foulds</div>
                                        <div class="col" th:text="${match.getHomeCommand().getFoulsDefense()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getFoulsDefense()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Players Scored &gt; 10</div>
                                        <div class="col" th:text="${match.getHomeCommand().getMore10Points()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getMore10Points()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Score Leader</div>
                                        <div class="col" th:text="${match.getHomeCommand().getPlayerMaxPointsName() + '(' + match.getHomeCommand().getPlayerMaxPointsScore() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getPlayerMaxPointsName() + '(' + match.getAwayCommand().getPlayerMaxPointsScore() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Maximum Lead</div>
                                        <div class="col" th:text="${match.getHomeCommand().getMaxLead() + '(' + match.getHomeCommand().getMaxLeadQuarter() + ')'}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getMaxLead() + '(' + match.getAwayCommand().getMaxLeadQuarter() + ')'}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Steals</div>
                                        <div class="col" th:text="${match.getHomeCommand().getSteals()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getSteals()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Turnovers</div>
                                        <div class="col" th:text="${match.getHomeCommand().getTurnovers()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getTurnovers()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">2nd Chance Points</div>
                                        <div class="col" th:text="${match.getHomeCommand().getSecondChancePoints()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getSecondChancePoints()}"></div>
                                    </div>
                                    <div class="sm-1 row">
                                        <div class="col bs-title">Start/Bench points</div>
                                        <div class="col" th:text="${match.getHomeCommand().getScoreStart5Score() + '/' + match.getHomeCommand().getScoreBenchScore()}"></div>
                                        <div class="col" th:text="${match.getAwayCommand().getScoreStart5Score() + '/' + match.getAwayCommand().getScoreBenchScore()}"></div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
            $('document').ready(function() {
                $('#tournament\\.id').change(function() {
                    $('#compareForm').submit();
                });
            });
        </script>
    </body>
</html>