<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Basket Stat</title>
        <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script type="text/javascript" th:src="@{/js/query-3.3.1.js}"></script>
    </head>
    <body>
        <span th:replace="fragments/nav.html :: nav"></span>
        <main role="main" class="container">
            <div id="errorMsg" class="errorMsg" th:if="error != null" th:text="${error}"></div>
            <div id="successMsg" class="successMsg" th:if="msg != null" th:text="${msg}"></div>
        </main>
        <div class="starter-template">
            <form name="saveMatch" id="saveMatch" action="#" th:action="@{/savematch}" th:object="${currentMatch}" method="post">
                <input type="hidden" th:field="*{id}" />
                <table class="createMatch" cellpadding="5" cellspacing="5" border="1" th:if="${currentMatch != null}">
                    <tr>
                        <td class="submit" colspan="3" align="right"><span class="pull-right"><input type="submit" class="btn btn-success" id="submitButton" th:value="Save"></span></td>
                    </tr>
                    <tr>
                        <th>Tournament</th>
                        <td colspan="2">
                            <select class="custom-select" required="required" th:field="${currentMatch.tournament.id}">
                                <option th:if="${tournaments.size() > 1}" class="def_option" value="">Choose Tournament</option>
                                <option th:each="tournament : ${tournaments}" th:value="${tournament.id}"
                                        th:text="${tournament.getTournName()}"></option>
                            </select>
                        </td>
                        <input type="hidden" th:field="*{tournament.tournName}" />
                    </tr>
                    <tr>
                        <th>Match Date</th>
                        <td colspan="2">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input class="form-control mx-sm-0" required="required" type="date" th:field="*{date}" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Season</th>
                        <td colspan="2">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input class="form-control mx-sm-0" required="required" maxlength="8" size="8" type="text" th:field="*{season}" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Home</td>
                        <td>Away</td>
                    </tr>
                    <tr>
                        <th>Command</th>
                        <td>
                            <select class="custom-select" required="required" th:field="${currentMatch.homeCommand.command.id}">
                                <option class="def_option" value="">Choose Command</option>
                                <option th:each="hcommand : ${commands}" th:value="${hcommand.id}"
                                        th:text="${hcommand.getCommandName()}"></option>
                            </select>
                            <input type="hidden" th:field="*{homeCommand.command.commandName}" />
                        </td>
                        <td>
                            <select class="custom-select" required="required" th:field="${currentMatch.awayCommand.command.id}">
                                <option class="def_option" value="">Choose Command</option>
                                <option th:each="acommand : ${commands}" th:value="${acommand.id}"
                                        th:text="${acommand.getCommandName()}"></option>
                            </select>
                            <input type="hidden" th:field="*{awayCommand.command.commandName}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Game Score</th>
                        <td><input size="2" class="readonly-plaintext" readonly="readonly" min="0" max="199" type="number" th:field="*{homeCommand.score}" /></td>
                        <td><input size="2" class="readonly-plaintext" readonly="readonly" min="0" max="199" type="number" th:field="*{awayCommand.score}" /></td>
                    </tr>
                    <tr>
                        <th>Score Quarter 1</th>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{homeCommand.quarterStats[__0__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).FIRST.name()}" th:field="*{homeCommand.quarterStats[__0__].quarter}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{awayCommand.quarterStats[__0__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).FIRST.name()}" th:field="*{awayCommand.quarterStats[__0__].quarter}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Score Quarter 2</th>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{homeCommand.quarterStats[__1__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).SECOND.name()}" th:field="*{homeCommand.quarterStats[__1__].quarter}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{awayCommand.quarterStats[__1__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).SECOND.name()}" th:field="*{awayCommand.quarterStats[__1__].quarter}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Score Quarter 3</th>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{homeCommand.quarterStats[__2__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).THIRD.name()}" th:field="*{homeCommand.quarterStats[__2__].quarter}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{awayCommand.quarterStats[__2__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).THIRD.name()}" th:field="*{awayCommand.quarterStats[__2__].quarter}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Score Quarter 4</th>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{homeCommand.quarterStats[__3__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).FOURTH.name()}" th:field="*{homeCommand.quarterStats[__3__].quarter}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{awayCommand.quarterStats[__3__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).FOURTH.name()}" th:field="*{awayCommand.quarterStats[__3__].quarter}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Score Overtime</th>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{homeCommand.quarterStats[__4__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).OT.name()}" th:field="*{homeCommand.quarterStats[__4__].quarter}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="99" type="number" th:field="*{awayCommand.quarterStats[__4__].score}" />
                            <input type="hidden" th:value="${T(com.mikerusoft.euroleague.model.Quarter).OT.name()}" th:field="*{awayCommand.quarterStats[__4__].quarter}" />
                        </td>
                    </tr>
                    <tr>
                        <th>PIR</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.assists}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.assists}" /></td>
                    </tr>
                    <tr>
                        <th>Fouls Defense</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.foulsDefense}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.foulsDefense}" /></td>
                    </tr>
                    <tr>
                        <th>Players scored &gt; 10 Points</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.more10Points}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.more10Points}" /></td>
                    </tr>
                    <tr>
                        <th>Player scored maximum points</th>
                        <td>
                            <input size="2" min="0" max="199" type="number" placeholder="points" th:field="*{homeCommand.playerMaxPointsScore}" /><br/>
                            <input class="shortText" type="text" maxlength="20" placeholder="name" th:field="*{homeCommand.playerMaxPointsName}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="199" type="number" placeholder="points" th:field="*{awayCommand.playerMaxPointsScore}" /><br/>
                            <input class="shortText" type="text" maxlength="20" placeholder="name" th:field="*{awayCommand.playerMaxPointsName}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Maximum lead</th>
                        <td>
                            <input size="2" min="0" max="199" type="number" th:field="*{homeCommand.maxLead}" /><br/>
                            <select class="shortSelect" th:field="${currentMatch.homeCommand.maxLeadQuarter}">
                                <option th:each="hquarter : ${T(com.mikerusoft.euroleague.model.Quarter).values()}"
                                        th:value="${hquarter.name()}"
                                        th:text="${hquarter.getDisplay()}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <input size="2" min="0" max="199" type="number" th:field="*{awayCommand.maxLead}" /><br/>
                            <select class="shortSelect" th:field="${currentMatch.awayCommand.maxLeadQuarter}">
                                <option th:each="aquarter : ${T(com.mikerusoft.euroleague.model.Quarter).values()}"
                                        th:value="${aquarter.name()}"
                                        th:text="${aquarter.getDisplay()}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Steals</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.steals}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.steals}" /></td>
                    </tr>
                    <tr>
                        <th>Turnovers</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.turnovers}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.turnovers}" /></td>
                    </tr>
                    <tr>
                        <th>Second Chance Points</th>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{homeCommand.secondChancePoints}" /></td>
                        <td><input size="2" min="0" max="199" type="number" th:field="*{awayCommand.secondChancePoints}" /></td>
                    </tr>
                    <tr>
                        <th>Starting 5/Bench scoreed</th>
                        <td>
                            <input size="2" min="0" max="199" type="number" th:field="*{homeCommand.scoreStart5Score}" />
                            <input size="2" min="0" max="199" type="number" th:field="*{homeCommand.scoreBenchScore}" />
                        </td>
                        <td>
                            <input size="2" min="0" max="199" type="number" th:field="*{awayCommand.scoreStart5Score}" />
                            <input size="2" min="0" max="199" type="number" th:field="*{awayCommand.scoreBenchScore}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Rebounds Defense/Offense</th>
                        <td>
                            <input class="homeRebounds" size="2" min="0" max="99" type="number" th:field="*{homeCommand.reboundsDefense}" />
                            <input class="homeRebounds" size="2" min="0" max="99" type="number" th:field="*{homeCommand.reboundsOffense}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="homeRebounds" />
                        </td>
                        <td>
                            <input class="awayRebounds" size="2" min="0" max="99" type="number" th:field="*{awayCommand.reboundsDefense}" />
                            <input class="awayRebounds" size="2" min="0" max="99" type="number" th:field="*{awayCommand.reboundsOffense}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="awayRebounds" />
                        </td>
                    </tr>
                    <tr>
                        <th>1 Point (scored/attempts)</th>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.points1}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.attempts1}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="hpercP1" />
                        </td>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.points1}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.attempts1}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="apercP1" />
                        </td>
                    </tr>
                    <tr>
                        <th>2 Point (scored/attempts)</th>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.points2}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.attempts2}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="hpercP2" />
                        </td>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.points2}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.attempts2}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="apercP2" />
                        </td>
                    </tr>
                    <tr>
                        <th>3 Point (scored/attempts)</th>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.points3}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{homeCommand.attempts3}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="hpercP3" />
                        </td>
                        <td>
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.points3}" />
                            <input class="calcPoints" size="2" min="0" max="99" type="number" th:field="*{awayCommand.attempts3}" />
                            <input maxlength="6" size="6" class="readonly-plaintext" disabled="disabled" type="text" value="0" id="apercP3" />
                        </td>
                    </tr>
                    <tr>
                        <td class="submit" colspan="3" align="right"><span class="pull-right"><input class="btn btn-success" type="submit" id="submitButton" th:value="Save"></span></td>
                    </tr>
                </table>
            </form>
        </div>
        <script type="text/javascript" th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
            $('document').ready(function() {
                $('#saveMatch').submit(function(event) {
                    sumScore();
                    fillAllRebounds();
                    calcAllPoints();
                    $('#tournament\\.tournName').val($('#tournament\\.id option:selected').val() == '' ? '' : $('#tournament\\.id option:selected').text());
                    $('#homeCommand\\.command\\.commandName').val($('#homeCommand\\.command\\.id').val() == '' ? '' : $('#homeCommand\\.command\\.id option:selected').text());
                    $('#awayCommand\\.command\\.commandName').val($('#awayCommand\\.command\\.id').val() == '' ? '' : $('#awayCommand\\.command\\.id option:selected').text());
                });
                bindSumScore('homeCommand');
                bindSumScore('awayCommand');
                $('.homeRebounds').change(function() { fillAllRebounds(); });
                $('.awayRebounds').change(function() { fillAllRebounds(); });
                $('.calcPoints').change(function() { calcAllPoints(); });
                fillAllRebounds();
                calcAllPoints();
            });

            function sumScore() {
                let homeCommandScore = sumAllQuarters('homeCommand');
                $('#homeCommand\\.score').val(homeCommandScore);
                let awayCommandScore = sumAllQuarters('awayCommand');
                $('#awayCommand\\.score').val(awayCommandScore);
            }

            function fillAllRebounds() {
                fillRebounds('homeCommand', 'homeRebounds');
                fillRebounds('awayCommand', 'awayRebounds');
            }

            function fillRebounds(name, id) {
                $('#' + id).val(
                    parseInt($('#' + name + '\\.reboundsDefense').val()) +
                    parseInt($('#' + name + '\\.reboundsOffense').val())
                )
            }

            function calcAllPoints() {
                calcPercent('homeCommand', 1, 'hpercP1');
                calcPercent('homeCommand', 2, 'hpercP2');
                calcPercent('homeCommand', 3, 'hpercP3');
                calcPercent('awayCommand', 1, 'apercP1');
                calcPercent('awayCommand', 2, 'apercP2');
                calcPercent('awayCommand', 3, 'apercP3');
            }

            function calcPercent(name, i, id) {
                let attempts = parseFloat($('#' + name + '\\.attempts' + i).val());
                let points = parseFloat($('#' + name + '\\.points' + i).val());
                let perc = attempts > 0 ? Math.round((points/attempts)*100) : 0;
                let pecStr = perc + "";
                for(let i=0; i<5-pecStr.length; i++) {
                    pecStr += " "
                }
                $('#' + id).val(pecStr + "%")
            }

            function sumAllQuarters(name) {
                var sum = 0;
                for (let i=0; i<5; i++) {
                    let score = $('#' + name + '\\.quarterStats' + i + '\\.score').val();
                    if (score === "")
                        score = "0";
                    sum += parseInt(score);
                }
                return sum;
            }

            function bindSumScore(name) {
                for (let i=0; i<5; i++) {
                    $('#' + name + '\\.quarterStats' + i + '\\.score').change(function() { sumScore(); });
                }
            }
        </script>
    </body>
</html>